{% extends 'base.html' %}

{% load static %}

{% block title %}aboutus{% endblock title %}

{% block aboutus-content %}


<section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Get all details</h6>
          <h2>Online Teaching and Learning Tools</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  
                 
                  <a href="meeting-details.html"><img src="https://st2.depositphotos.com/3591429/10464/i/450/depositphotos_104648666-stock-photo-group-of-people-brainstorming-on.jpg" alt=""></a>
                </div>
                <div class="down-content">
                  <a href="meeting-details.html"><h4>Online Teaching and Learning Tools</h4></a>
                  <p>Recreio dos Bandeirantes, Rio de Janeiro - RJ, 22795-008, Brazil</p>
                  <p class="description">
                    Digital Education Vibe basic objective is to strengthen the close link of education and making the youth educated, skilled and employable, giving them the capacity to harness diverse opportunities. This will also create more job opportunities for our youth, thus solving the growing unemployment. 
                    <br> We are an Ed-Tech firm. We are the first to bring ‘Live & Interactive Session and We Provide Online Distance Learning ’</p><br>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="hours">
                        <h5>Our Mission : Learn Something Every Day</h5>
                        <p>Our mission is to provide impeccable end to end education services to cater the growing need of the work force of India and to pursue their dream education.

                           <br> We also thrive to enlighten the budding minds to grasp the education importance.</br> We at Spectrique believe in “Beyond the horizon” accomplishing tremendous feats in wherever we move.
                            
                            Develop professionals of excellent caliber with a humane approach capable of shouldering the responsibility of building the nation and be globally competent.</p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="location">
                        <h5>Our Vision : Who We Are </h5>
                        <p>Recreio dos Bandeirantes, 
                        <br>Rio de Janeiro - RJ, 22795-008, Brazil</p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="book now">
                        <h5>Book Now</h5>
                        <p>010-020-0340<br>090-080-0760</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="share">
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button-red">
                <a href="meetings.html">Back To Meetings List</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock aboutus-content %}  