{% extends 'base.html' %}

{% load static %}

{% block title %}FT{% endblock title %}

{% block ft-content %}
<section class="heading-page2 header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Fameux Courses</h2>
      </div>
      <div class="main-button-red">
        <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
    </div>
    </div>
  </div>
</section>

<section class="meetings-page" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <!-- <div class="col-lg-12">
            <div class="filters">
              <ul>
                <li data-filter="*"  class="active">Courses</li>
                <li data-filter=".soon">Graduation</li>
                <li data-filter=".imp">Post-Graduation</li>
                <li data-filter=".att">Diploma</li>
              </ul>
            </div>
          </div> -->
          <div class="col-lg-12">
            <div class="row grid">
              <div class="col-lg-4 templatemo-item-col all soon">
                <div class="meeting-item">
                  <div class="thumb">
                    
                    <a href="meeting-details.html"><img src="https://meritglobaltraining.com/backend/uploads/d4ff46aff362d7b990c01213860ef911.png" alt=""></a>
                  </div>
                  <div class="down-content">
                    <div class="date">
                      
                    </div>
                    <a href="meeting-details.html"><h4>Data Science</h4></a>
                   
                  </div>
                </div>
              </div>
              <div class="col-lg-4 templatemo-item-col all imp">
                <div class="meeting-item">
                  <div class="thumb">
                    
                    <a href="meeting-details.html"><img src="https://i.pinimg.com/564x/4b/20/97/4b2097edde659fe18eb73289a69f2912.jpg" alt=""></a>
                  </div>
                  <div class="down-content">
                    <div class="date">
                      
                    </div>
                    <a href="meeting-details.html"><h4>Java Fullstack</h4></a>
                    
                  </div>
                </div>
                
                
              </div>
              <div class="col-lg-4 templatemo-item-col all soon">
                <div class="meeting-item">
                  <div class="thumb">
                    
                    <a href="meeting-details.html"><img src="https://e1.pxfuel.com/desktop-wallpaper/245/675/desktop-wallpaper-best-5-cisco-ccna-on-hip-cisco-security.jpg" alt=""></a>
                  </div>
                  <div class="down-content">
                    <div class="date">
                      
                    </div>
                    <a href="meeting-details.html"><h4>CCNA</h4></a>
                   
                  </div>
                </div>
                
                
              </div>
              <div class="col-lg-4 templatemo-item-col all att">
                <div class="meeting-item">
                  <div class="thumb">
                   
                    <a href="meeting-details.html"><img src="https://uniteprivatenetworks.com/wp-content/uploads/2022/01/iStock-1327189151-1-scaled.jpg" alt=""></a>
                  </div>
                  <div class="down-content">
                    <div class="date">
                      
                    </div>
                    <a href="meeting-details.html"><h4>Cloud Computing</h4></a>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4 templatemo-item-col all att">
                <div class="meeting-item">
                  <div class="thumb">
                   
                    <a href="meeting-details.html"><img src="https://apicms.thestar.com.my/uploads/images/2023/06/27/2147131.jpg" alt=""></a>
                  </div>
                  <div class="down-content">
                    <div class="date">
                      
                    </div>
                    <a href="meeting-details.html"><h4>Cyber Security</h4></a>
                   
                  </div>
                </div>
              </div>
              <div class="col-lg-4 templatemo-item-col all imp">
                <div class="meeting-item">
                  <div class="thumb">
                   
                    <a href="meeting-details.html"><img src="https://wallpapercave.com/wp/wp3950068.jpg" alt=""></a>
                  </div>
                  <div class="down-content">
                    <div class="date">
                      
                    </div>
                    <a href="meeting-details.html"><h4>Digital Marketing</h4></a>
                   
                  </div>
                </div>
              </div>
              <div class="col-lg-4 templatemo-item-col all imp att">
                <div class="meeting-item">
                  <div class="thumb">
                   
                    <a href="meeting-details.html"><img src="https://media.licdn.com/dms/image/D5612AQHqOJChH9zeCw/article-cover_image-shrink_720_1280/0/1682407913582?e=2147483647&v=beta&t=NayQVhl-S6HU08aaGX-Jz-XYcc3xDrYgaBa5Or5q8hY" alt=""></a>
                  </div>
                  <div class="down-content">
                    <div class="date">
                      
                    </div>
                    <a href="meeting-details.html"><h4>Product Management</h4></a>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4 templatemo-item-col all soon imp">
                <div class="meeting-item">
                  <div class="thumb">
                    
                    <a href="meeting-details.html"><img src="https://e1.pxfuel.com/desktop-wallpaper/125/969/desktop-wallpaper-web-development-posted-by-sarah-anderson-full-stack.jpg" alt=""></a>
                  </div>
                  <div class="down-content">
                    <div class="date">
                      
                    </div>
                    <a href="meeting-details.html"><h4>Web Development</h4></a>
                    
                  </div>
                
                
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

    {% endblock ft-content %}  