{% extends 'base.html' %}

{% load static %}

{% block title %}FT{% endblock title %}

{% block ft-content %}

<section class="upcoming-meetings" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Fameux Courses</h2>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="categories">
          <h4>Our Top Courses</h4>
          <ul>
            <li><a href="#">Data Science with Artificial Intelligence</a></li>
            <li><a href="#">Java Full Stack Developer</a></li>
            <li><a href="#">Cloud Computing</a></li>
            
          </ul>
          
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-6">
            <div class="meeting-item">
              <div class="thumb">
                <div class="price">
                  <!-- <span>$22.00</span> -->
                </div>
                <a href="meeting-details.html"><img src="/static/images/meeting-01.jpg" alt="New Lecturer Meeting"></a>
              </div>
              <div class="down-content">
                <div class="date">
                  <!-- <h6>Nov <span>10</span></h6> -->
                </div>
                <a href="meeting-details.html"><h4>Data Science</h4></a>
                
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="meeting-item">
              <div class="thumb">
               
                <a href="meeting-details.html"><img src="/static/images/meeting-02.jpg" alt="Online Teaching"></a>
              </div>
              <div class="down-content">
                <div class="date">
                  <h6>Nov <span>24</span></h6>
                </div>
                <a href="meeting-details.html"><h4>Java Full Stack Developer</h4></a>
                
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="meeting-item">
              <div class="thumb">
                
                <a href="meeting-details.html"><img src="/static/images/meeting-03.jpg" alt="Higher Education"></a>
              </div>
              <div class="down-content">
                <div class="date">
                  <h6>Nov <span>26</span></h6>
                </div>
                <a href="meeting-details.html"><h4>Cloud Computing</h4></a>
                
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="meeting-item">
              <div class="thumb">
                
                <a href="meeting-details.html"><img src="/static/images/meeting-04.jpg" alt="Student Training"></a>
              </div>
              <div class="down-content">
                <div class="date">
                  <h6>Nov <span>30</span></h6>
                </div>
                <a href="meeting-details.html"><h4>Cyber Security</h4></a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    {% endblock ft-content %}  