{% extends '..//base.html' %}

{% load static %}

{% block title %}Courses{% endblock title %}

{% block bca-content %}

<section class="heading-BCA header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          
          <h2>Bachelor of Business Administration</h2>
        </div>
        <div class="main-button-red">
          <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
      </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <ul>
                  <li data-filter=".over" class="active">Overview</li>
                  <li data-filter=".elig">Eligibility</li>
                  <li data-filter=".syll">Syllabus</li>
                  <li data-filter=".fees">Fees</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                <div class="templatemo-item-col all over">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <p class="description">
                        To help students for getting professional education through distance learning so that he/she can put a step towards corporate world.
                        <br><br>
                        Expansion of understanding related to various streams of Management.
                        <br><br>
                        To develop managerial skills and personal skills leading to self development.
                        <br><br>
                        Exploring better prospectus for higher education in the field of Management.
                         <br><br>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="templatemo-item-col all elig">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <p class="description">
                        Recognition:
                        <br>
                        UGC, DEC, AIU
                        <br><br>
                        Duration:
                        <br>
                        Min. 3 Years Max. 6 years
                        <br><br>
                        Eligibility:
                        <br>
                         Senior Secondary (10+2) pass or equivalent in Science discipline from any recognized Board.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- timeline -->
                <div class="templatemo-item-col all syll">
                  <div class="meeting-single-item">
                    <div class="container">
                      <div class="swiper-container-wrapper swiper-container-wrapper--timeline">
                        <!-- Timeline -->
                        <ul class="swiper-pagination-custom">
                          <li class='swiper-pagination-switch first active' data-index="0"><span class='switch-title'>I Sem</span></li>
                          <li class='swiper-pagination-switch' data-index="1"><span class='switch-title'>II Sem</span></li>
                          <li class='swiper-pagination-switch' data-index="2"><span class='switch-title'>III Sem</span></li>
                          <li class='swiper-pagination-switch' data-index="3"><span class='switch-title'>IV Sem</span></li>
                          <li class='swiper-pagination-switch' data-index="4"><span class='switch-title'>V Sem</span></li>
                          <li class='swiper-pagination-switch last' data-index="5"><span class='switch-title'>VI Sem</span></li>
                        </ul>
                        <!-- Progressbar -->
                        <div class="swiper-pagination swiper-pagination-progressbar swiper-pagination-horizontal">
                          <div class="swiper-pagination-progressbar-fill"></div>
                        </div>
                        <!-- Swiper -->
                        <div class="swiper swiper-container swiper-container--timeline">
                          <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                              <table>
                              <thead>
                                <tr>
                                  <th>Sr. No</th>
                                  <th>Paper Code</th>
                                  <th>Paper Title</th>
                                  <th>Credits</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>BBA-101</td>
                                  <td>Business Organization</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>BBA-102</td>
                                  <td>Managerial Economics </td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>BBA-103</td>
                                  <td>Financial Accounting</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>BBA-104</td>
                                  <td>Business Statistics</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>BBA-105</td>
                                  <td>Entrepreneurship & Skill Development</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>BBA-106</td>
                                  <td>English-I</td>
                                  <td>3</td>
                                </tr>
                                
                              </tbody>
                            </table>
                          </div>
                          <div class="swiper-slide">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Sr. No</th>
                                    <th>Paper Code</th>
                                    <th>Paper Title</th>
                                    <th>Credits</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>BBA-201</td>
                                    <td>Business Communication</td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>BBA-202</td>
                                    <td>Principles and Practices of Management </td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>BBA-203</td>
                                    <td>Business Environment</td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>BBA-204</td>
                                    <td>Business Mathematics</td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>BBA-205</td>
                                    <td>Management of Financial Institutions</td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td>6</td>
                                    <td>BBA-206</td>
                                    <td>Environmental Management</td>
                                    <td>3</td>
                                  </tr>
                                
                                </tbody>
                              </table>
                            </div>
                            <div class="swiper-slide">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Sr. No</th>
                                    <th>Paper Code</th>
                                    <th>Paper Title</th>
                                    <th>Credits</th>
                                  </tr>
                                </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>BBA-301</td>
                                  <td>Indian Economy</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>BBA-302</td>
                                  <td>Marketing Management</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>BBA-303</td>
                                  <td>Cost Accounting</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>BBA-304</td>
                                  <td>Legal Framework</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>BBA-305</td>
                                  <td>IT for Managers</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>BBA-306</td>
                                  <td>Indian Diversity & Business</td>
                                  <td>3</td>
                                </tr>
                                
                              </tbody>
                            </table>
                            </div>
                            <div class="swiper-slide">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Sr. No</th>
                                    <th>Paper Code</th>
                                    <th>Paper Title</th>
                                    <th>Credits</th>
                                  </tr>
                                </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>BBA-401</td>
                                  <td>Research Methods</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>BBA-402</td>
                                  <td>Human Resource Management</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>BBA-403</td>
                                  <td>Indian Financial System</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>BBA-404</td>
                                  <td>Management Accounting</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>BBA-405</td>
                                  <td>Tax Management</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>BBA-406</td>
                                  <td>Event Management</td>
                                  <td>3</td>
                                </tr>
                               
                              </tbody>
                            </table>
                            </div>
                            <div class="swiper-slide">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Sr. No</th>
                                    <th>Paper Code</th>
                                    <th>Paper Title</th>
                                    <th>Credits</th>
                                  </tr>
                                </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>BBA-501</td>
                                  <td>Quantitative Techniques</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>BBA-502</td>
                                  <td>Company Law</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>BBA-503</td>
                                  <td>International Business</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>BBA-504</td>
                                  <td>Organizational Behaviour</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>BBA-505</td>
                                  <td>Business Ethics</td>
                                  <td>2</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>BBA-506</td>
                                  <td>Training and Development</td>
                                  <td>3</td>
                                </tr>

                              </tbody>
                            </table>
                            </div>
                            <div class="swiper-slide">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Sr. No</th>
                                    <th>Paper Code</th>
                                    <th>Paper Title</th>
                                    <th>Credits</th>
                                  </tr>
                                </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>BBA-601</td>
                                  <td>Strategic Management</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>BBA-602</td>
                                  <td>Auditing – Principles and Practice</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>BBA-603</td>
                                  <td>Outsourcing Management</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>BBA-604</td>
                                  <td>Project Management</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>BBA-605</td>
                                  <td>Retail Management</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>BBA-606</td>
                                  <td>Project Report</td>
                                  <td>15</td>
                                </tr>
                                
                              </tbody>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="templatemo-item-col all fees">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <table>
                        <thead>
                          <tr>
                            <th>Sr. No</th>
                            <th>Name of Programme</th>
                            <th>Admission Fee (One Time) (In Rs.)</th>
                            <th>Programme Fee (Per Semester) (In Rs.)</th>
                            <th>Examination Fee (Per Semester) (In Rs.)</th>
                            <th>Total Amount (Per Semester) (In Rs.)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>B.B.A</td>
                            <td>500/-</td>
                            <td>7000/-</td>
                            <td>2000/-</td>
                            <td>9500/-</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock bca-content %}  
    