{% extends '..//base.html' %}

{% load static %}

{% block title %}Courses{% endblock title %}

{% block bca-content %}

<section class="heading-BCA header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          
          <h2>Bachelor of Computer Applications</h2>
        </div>
        <div class="main-button-red">
          <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
      </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <ul>
                  <li data-filter=".over" class="active">Overview</li>
                  <li data-filter=".elig">Eligibility</li>
                  <li data-filter=".syll">Syllabus</li>
                  <li data-filter=".fees">Fees</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                <div class="templatemo-item-col all over">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <p class="description">
                        To impart computer education and enhance knowledge about computer subjects.
                        <br><br>
                        To develop better skills leading to self development and employability in computer application.
                        <br><br>
                        To upgrade the professional skins and knowledge to enable them to work as teachers, programmers, analysts etc.
                        <br><br>
                        To make the students eligible for admission to higher courses like M.Sc. (CS), MCA, M.Sc. (IT) etc.
                         <br><br>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="templatemo-item-col all elig">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <p class="description">
                        Recognition:
                        <br>
                        UGC, DEC, AIU
                        <br><br>
                        Duration:
                        <br>
                        Min. 3 Years Max. 6 years
                        <br><br>
                        Eligibility:
                        <br>
                         Senior Secondary (10+2) pass or equivalent in Science discipline from any recognized Board.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- timeline -->
                <div class="templatemo-item-col all syll">
                  <div class="meeting-single-item">
                    <div class="container">
                      <div class="swiper-container-wrapper swiper-container-wrapper--timeline">
                        <!-- Timeline -->
                        <ul class="swiper-pagination-custom">
                          <li class='swiper-pagination-switch first active' data-index="0"><span class='switch-title'>I Sem</span></li>
                          <li class='swiper-pagination-switch' data-index="1"><span class='switch-title'>II Sem</span></li>
                          <li class='swiper-pagination-switch' data-index="2"><span class='switch-title'>III Sem</span></li>
                          <li class='swiper-pagination-switch' data-index="3"><span class='switch-title'>IV Sem</span></li>
                          <li class='swiper-pagination-switch' data-index="4"><span class='switch-title'>V Sem</span></li>
                          <li class='swiper-pagination-switch last' data-index="5"><span class='switch-title'>VI Sem</span></li>
                        </ul>
                        <!-- Progressbar -->
                        <div class="swiper-pagination swiper-pagination-progressbar swiper-pagination-horizontal">
                          <div class="swiper-pagination-progressbar-fill"></div>
                        </div>
                        <!-- Swiper -->
                        <div class="swiper swiper-container swiper-container--timeline">
                          <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                              <table>
                              <thead>
                                <tr>
                                  <th>Sr. No</th>
                                  <th>Paper Code</th>
                                  <th>Paper Title</th>
                                  <th>Credits</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>BCA-101</td>
                                  <td>Introduction to problem solving using C</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>BCA-102</td>
                                  <td>Fundamentals of Computers and PC Tools</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>BCA-103</td>
                                  <td>Elementary Mathematics</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>BCA-104</td>
                                  <td>Digital Electronics</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>BCA-105</td>
                                  <td>English-I</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>BCA-106</td>
                                  <td>C Programming Lab</td>
                                  <td>2</td>
                                </tr>
                                <tr>
                                  <td>7</td>
                                  <td>BCA-107</td>
                                  <td>Office Automation Tool Lab</td>
                                  <td>2</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="swiper-slide">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Sr. No</th>
                                    <th>Paper Code</th>
                                    <th>Paper Title</th>
                                    <th>Credits</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>BCA-201</td>
                                    <td>Database Management</td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>BCA-202</td>
                                    <td>Discrete Mathematics</td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>BCA-203</td>
                                    <td>Analysis of Algorithms and Data Structures</td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>BCA-204</td>
                                    <td>HTML Programming</td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>BCA-205</td>
                                    <td>Environment Science</td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td>6</td>
                                    <td>BCA-206</td>
                                    <td>Database Management System Lab</td>
                                    <td>2</td>
                                  </tr>
                                  <tr>
                                    <td>7</td>
                                    <td>BCA-207</td>
                                    <td>Data Structures Using ‘C’ Lab</td>
                                    <td>2</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div class="swiper-slide">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Sr. No</th>
                                    <th>Paper Code</th>
                                    <th>Paper Title</th>
                                    <th>Credits</th>
                                  </tr>
                                </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>BCA-301</td>
                                  <td>Operating System</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>BCA-302</td>
                                  <td>OOPS Using C++</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>BCA-303</td>
                                  <td>Software Engineering</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>BCA-304</td>
                                  <td>Computer Networks</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>BCA-305</td>
                                  <td>Software Engineering Lab</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>BCA-306</td>
                                  <td>Operating Systems Lab</td>
                                  <td>2</td>
                                </tr>
                                <tr>
                                  <td>7</td>
                                  <td>BCA-307</td>
                                  <td>OOPs Using C++ Lab</td>
                                  <td>2</td>
                                </tr>
                              </tbody>
                            </table>
                            </div>
                            <div class="swiper-slide">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Sr. No</th>
                                    <th>Paper Code</th>
                                    <th>Paper Title</th>
                                    <th>Credits</th>
                                  </tr>
                                </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>BCA-401</td>
                                  <td>Computer Architecture</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>BCA-402</td>
                                  <td>Programming in Java</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>BCA-403</td>
                                  <td>Internet and Web Design</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>BCA-404</td>
                                  <td>System Administration and Maintenance</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>BCA-405</td>
                                  <td>System Administration and Maintenance Lab</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>BCA-406</td>
                                  <td>Java Programming Lab</td>
                                  <td>2</td>
                                </tr>
                                <tr>
                                  <td>7</td>
                                  <td>BCA-407</td>
                                  <td>Internet and Web Design Lab</td>
                                  <td>2</td>
                                </tr>
                              </tbody>
                            </table>
                            </div>
                            <div class="swiper-slide">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Sr. No</th>
                                    <th>Paper Code</th>
                                    <th>Paper Title</th>
                                    <th>Credits</th>
                                  </tr>
                                </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>BCA-501</td>
                                  <td>Multimedia Applications</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>BCA-502</td>
                                  <td>Programming in .NET</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>BCA-503</td>
                                  <td>Data Mining</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>BCA-504</td>
                                  <td>Android Programming</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>BCA-505</td>
                                  <td>Android Programming Lab</td>
                                  <td>2</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>BCA-506</td>
                                  <td>Multimedia (FLASH as a multimedia SAV) Lab</td>
                                  <td>2</td>
                                </tr>
                                <tr>
                                  <td>7</td>
                                  <td>BCA-507</td>
                                  <td>.NET Programming Lab</td>
                                  <td>2</td>
                                </tr>
                              </tbody>
                            </table>
                            </div>
                            <div class="swiper-slide">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Sr. No</th>
                                    <th>Paper Code</th>
                                    <th>Paper Title</th>
                                    <th>Credits</th>
                                  </tr>
                                </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>BCA-601</td>
                                  <td>PHP Programming</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>BCA-602</td>
                                  <td>Cloud Computing</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>BCA-603</td>
                                  <td>Software Testing Concepts</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>BCA-604</td>
                                  <td>‘R’ Programming</td>
                                  <td>3</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>BCA-605</td>
                                  <td>PHP Lab</td>
                                  <td>2</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>BCA-606</td>
                                  <td>Software Testing Lab</td>
                                  <td>2</td>
                                </tr>
                                <tr>
                                  <td>7</td>
                                  <td>BCA-607</td>
                                  <td>Project Work</td>
                                  <td>12</td>
                                </tr>
                              </tbody>
                            </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="templatemo-item-col all fees">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <table>
                        <thead>
                          <tr>
                            <th>Sr. No</th>
                            <th>Name of Programme</th>
                            <th>Admission Fee (One Time) (In Rs.)</th>
                            <th>Programme Fee (Per Semester) (In Rs.)</th>
                            <th>Examination Fee (Per Semester) (In Rs.)</th>
                            <th>Total Amount (Per Semester) (In Rs.)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>B.C.A</td>
                            <td>500/-</td>
                            <td>7000/-</td>
                            <td>2000/-</td>
                            <td>9500/-</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock bca-content %}  
    