{% extends '..//base.html' %}

{% load static %}

{% block title %}Courses{% endblock title %}

{% block bca-content %}

<section class="heading-BCA header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          
          <h2>Bachelor of Computer Applications</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <ul>
                  <li data-filter=".over">Overview</li>
                  <li data-filter=".elig">Eligibility</li>
                  <li data-filter=".syll">Syllabus</li>
                  <li data-filter=".fees">Fees</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                <div class="templatemo-item-col all over">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <p class="description">
                        To impart computer education and enhance knowledge about computer subjects.
                        <br><br>
                        To develop better skills leading to self development and employability in computer application.
                        <br><br>
                        To upgrade the professional skins and knowledge to enable them to work as teachers, programmers, analysts etc.
                        <br><br>
                        To make the students eligible for admission to higher courses like M.Sc. (CS), MCA, M.Sc. (IT) etc.
                         <br><br>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="templatemo-item-col all elig">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <p class="description">
                        Recognition:
                        <br>
                        UGC, DEC, AIU
                        <br><br>
                        Duration:
                        <br>
                        Min. 3 Years Max. 6 years
                        <br><br>
                        Eligibility:
                        <br>
                         Senior Secondary (10+2) pass or equivalent in Science discipline from any recognized Board.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- timeline -->
                <div class="templatemo-item-col all syll">
                  <div class="meeting-single-item">
                    <div class="container">
                      <div class="swiper-container-wrapper swiper-container-wrapper--timeline">
                        <!-- Timeline -->
                        <ul class="swiper-pagination-custom">
                          <li class='swiper-pagination-switch first active' data-index="0"><span class='switch-title'>I Sem</span></li>
                          <li class='swiper-pagination-switch' data-index="1"><span class='switch-title'>II Sem</span></li>
                          <li class='swiper-pagination-switch' data-index="2"><span class='switch-title'>III Sem</span></li>
                          <li class='swiper-pagination-switch' data-index="3"><span class='switch-title'>IV Sem</span></li>
                          <li class='swiper-pagination-switch' data-index="4"><span class='switch-title'>V Sem</span></li>
                          <li class='swiper-pagination-switch last' data-index="5"><span class='switch-title'>VI Sem</span></li>
                        </ul>
                        <!-- Progressbar -->
                        <div class="swiper-pagination swiper-pagination-progressbar swiper-pagination-horizontal">
                          <div class="swiper-pagination-progressbar-fill"></div>
                        </div>
                        <!-- Swiper -->
                        <div class="swiper swiper-container swiper-container--timeline">
                          <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide"><span class="title">Swiper Timeline Progressbar</span></div>
                            <div class="swiper-slide"><span class="title">Title 2</span></div>
                            <div class="swiper-slide"><span class="title">Title 3</span></div>
                            <div class="swiper-slide"><span class="title">Title 4</span></div>
                            <div class="swiper-slide"><span class="title">Title 5</span></div>
                            <div class="swiper-slide"><span class="title">Title 6</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="templatemo-item-col all fees">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <table>
                        <thead>
                          <tr>
                            <th>Sr. No</th>
                            <th>Name of Programme</th>
                            <th>Admission Fee (One Time) (In Rs.)</th>
                            <th>Programme Fee (Per Semester) (In Rs.)</th>
                            <th>Examination Fee (Per Semester) (In Rs.)</th>
                            <th>Total Amount (Per Semester) (In Rs.)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>B.C.A</td>
                            <td>500/-</td>
                            <td>7000/-</td>
                            <td>2000/-</td>
                            <td>9500/-</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock bca-content %}  
    