{% extends '..//base.html' %}

{% load static %}

{% block title %}Courses{% endblock title %}

{% block bca-content %}

<section class="heading-BCA header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          
          <h2>Master of Computer Applications</h2>
        </div>
        <div class="main-button-red">
          <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
      </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <ul>
                  <li data-filter=".over" class="active">Overview</li>
                  <li data-filter=".elig">Eligibility</li>
                  <li data-filter=".syll">Syllabus</li>
                  <li data-filter=".fees">Fees</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                <div class="templatemo-item-col all over">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <p class="description">
                        To give the learners knowledge of advanced computer subjects including software
                        <br><br>
                        To enable the learners get a better job in computer industry. The jobs may include System Analysts, System Designers, Software Engineers, Programmers and Technical Facilitators in any field related to IT industries and teaching posts in colleges and universities.
                        <br><br>
                        To enable the learners to work as System Managers and Hardware Engineers in IT industries.
                         <br><br>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="templatemo-item-col all elig">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <p class="description">
                        Recognition:
                        <br>
                        UGC, DEC, AIU
                        <br><br>
                        Duration:
                        <br>
                        Min 2 yrs and Max 4 yrs.
                        <br>
                        Min 1 yrs and Max 2 yrs. (For lateral entry)
                        <br><br>
                        Eligibility:
                        <br>
                        Passed BCA/ Bachelor Degree in Computer Science Engineering or equivalent UGC recognized graduate degree. 
                        <br><br>
                        <span style="font-weight: 700;">OR</span>
                        <br><br>
                        Passed B.Sc./ B.Com./ B.A. / or any other UGC recognized graduate degree with Mathematics at 10+2 Level or at Graduation Level. However candidate has to do an additional Bridge Course as per the norms of the University.
                        <br><br>
                        Student has to attach self attested photo copies of all marks sheets/degree along with an aadhar card copy and passport size photograph.
                        <br><br>
                        Lateral Entry: in the II Year (III Semester) Students having the following qualifications will be admitted directly in the MCA II Year (III Semester) M.Sc.(CS) / M.Sc. (IT) from any UGC recognized university.
                        <br><br>
                      </p>
                    </div>
                  </div>
                </div>

                <!-- timeline -->
                <div class="templatemo-item-col all syll">
                  <div class="meeting-single-item">
                    <div class="container">
                      <div class="swiper-container-wrapper swiper-container-wrapper--timeline">
                        <!-- Timeline -->
                        <ul class="swiper-pagination-custom">
                          <li class='swiper-pagination-switch first active' data-index="0"><span class='switch-title'>I Sem</span></li>
                          <li class='swiper-pagination-switch' data-index="1"><span class='switch-title'>II Sem</span></li>
                          <li class='swiper-pagination-switch' data-index="2"><span class='switch-title'>III Sem</span></li>
                          <li class='swiper-pagination-switch last' data-index="3"><span class='switch-title'>IV Sem</span></li>
                          <!-- <li class='swiper-pagination-switch' data-index="4"><span class='switch-title'>V Sem</span></li>
                          <li class='swiper-pagination-switch last' data-index="5"><span class='switch-title'>VI Sem</span></li> -->
                        </ul>
                        <!-- Progressbar -->
                        <div class="swiper-pagination swiper-pagination-progressbar swiper-pagination-horizontal">
                          <div class="swiper-pagination-progressbar-fill"></div>
                        </div>
                        <!-- Swiper -->
                        <div class="swiper swiper-container swiper-container--timeline">
                          <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                              <table>
                              <thead>
                                <tr>
                                  <th>Sr. No</th>
                                  <th>Paper Code</th>
                                  <th>Paper Title</th>
                                  <th>Credits</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>MCA-101</td>
                                  <td>Mathematical Foundation of Computer Science</td>
                                  <td>4</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>MCA-102</td>
                                  <td>Computer and ‘C’ Programming </td>
                                  <td>4</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>MCA-103</td>
                                  <td>Computer Organization and Architecture</td>
                                  <td>4</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>MCA-104</td>
                                  <td>Data Base Management System</td>
                                  <td>4</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>MCA-105</td>
                                  <td>Accounting and Financial Management </td>
                                  <td>4</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>MCA-106</td>
                                  <td>P C Software</td>
                                  <td>4</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>MCA-107</td>
                                    <td>Programming in C Lab</td>
                                    <td>2</td>
                                  </tr>
                                <tr>
                                    <td>8</td>
                                    <td>MCA-108</td>
                                    <td>DBMS Lab</td>
                                    <td>2</td>
                                </tr>
                                
                              </tbody>
                            </table>
                          </div>
                          <div class="swiper-slide">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Sr. No</th>
                                    <th>Paper Code</th>
                                    <th>Paper Title</th>
                                    <th>Credits</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>MCA-201</td>
                                    <td>Data Structure Using ‘C’</td>
                                    <td>4</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>MCA-202</td>
                                    <td>Computer Oriented Numerical and Statistical Techniques </td>
                                    <td>4</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>MCA-203</td>
                                    <td>Operating System</td>
                                    <td>4</td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>MCA-204</td>
                                    <td>Data Communication & Computer Networks</td>
                                    <td>4</td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>MCA-205</td>
                                    <td>Environmental Science</td>
                                    <td>4</td>
                                  </tr>
                                  <tr>
                                    <td>6</td>
                                    <td>MCA-206</td>
                                    <td>Software Engineering</td>
                                    <td>4</td>
                                  </tr>
                                  <tr>
                                    <td>7</td>
                                    <td>MCA-207</td>
                                    <td>Data Structures Using C Language Lab</td>
                                    <td>2</td>
                                  </tr>
                                  <tr>
                                    <td>8</td>
                                    <td>MCA-208</td>
                                    <td>Numerical & Statistical Techniques Lab</td>
                                    <td>2</td>
                                  </tr>
                                
                                </tbody>
                              </table>
                            </div>
                            <div class="swiper-slide">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Sr. No</th>
                                    <th>Paper Code</th>
                                    <th>Paper Title</th>
                                    <th>Credits</th>
                                  </tr>
                                </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>MCA-301</td>
                                  <td>Object Oriented Programming </td>
                                  <td>4</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>MCA-302</td>
                                  <td>System Analysis and Design</td>
                                  <td>4</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>MCA-303</td>
                                  <td>Computer Graphics</td>
                                  <td>4</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>MCA-304</td>
                                  <td>Artificial Intelligence</td>
                                  <td>4</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>MCA-305</td>
                                  <td>Design and Analysis of Algorithm</td>
                                  <td>4</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>MCA-306</td>
                                  <td>(Dot) . Net Framework (Using C#)</td>
                                  <td>4</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>MCA-307</td>
                                    <td>Object Oriented Programming Lab</td>
                                    <td>2</td>
                                  </tr>
                                  <tr>
                                    <td>8</td>
                                    <td>MCA-308</td>
                                    <td>DAA Lab</td>
                                    <td>2</td>
                                  </tr>
                              </tbody>
                            </table>
                            </div>
                            <div class="swiper-slide">
                              <table>
                                <thead>
                                  <tr>
                                    <th>Sr. No</th>
                                    <th>Paper Code</th>
                                    <th>Paper Title</th>
                                    <th>Credits</th>
                                  </tr>
                                </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>MCA-401</td>
                                  <td>Theory of Computation</td>
                                  <td>4</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>MCA-402</td>
                                  <td>Advanced Java Programming</td>
                                  <td>4</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>MCA-403</td>
                                  <td>Web Technology</td>
                                  <td>4</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>MCA-404</td>
                                  <td>Computer Based Optimization Techniques</td>
                                  <td>4</td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>MCA-405</td>
                                  <td>Microprocessor  Design and Assembly Language</td>
                                  <td>4</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>MCA-406</td>
                                  <td>Advanced Java Programming Lab</td>
                                  <td>4</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>MCA-407</td>
                                    <td>Web Technology Lab</td>
                                    <td>2</td>
                                  </tr>
                                  <tr>
                                    <td>8</td>
                                    <td>MCA-408</td>
                                    <td>Project Report</td>
                                    <td>12</td>
                                  </tr>
                              </tbody>
                            </table>
                            </div>
                        
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="templatemo-item-col all fees">
                  <div class="meeting-single-item">
                    <div class="down-content">
                      <table>
                        <thead>
                          <tr>
                            <th>Sr. No</th>
                            <th>Name of Programme</th>
                            <th>Admission Fee (One Time) (In Rs.)</th>
                            <th>Programme Fee (Per Semester) (In Rs.)</th>
                            <th>Examination Fee (Per Semester) (In Rs.)</th>
                            <th>Total Amount (Per Semester) (In Rs.)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>M.C.A</td>
                            <td>500/-</td>
                            <td>10000/-</td>
                            <td>2000/-</td>
                            <td>12500/-</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock bca-content %}  
    